<!doctype html>
<html>
<head>
    <title>uMarket</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="javascripts/updateProfile.js"></script>
</head>
<body>

<div class="navbar navbar-default"> 
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">uMarket</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right  ">
                    <li><a href="/timeline"><i class="fa fa-list"></i> Timeline</a></li>
                    <li><a href="#about"><i class="fa fa-heart"></i> Wishlist</a></li>
                    <li><a href="/profile"><i class="fa fa-user"></i> Profile</a></li>
                    <li><a href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                </ul>
            </div>

        </div>
</div>
<!-- NAVBAR CODE END -->

<!-- updae profile form -->


<!--
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Update your profile</h1>
    </div>

    <div class="row">

       
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>
                    
                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>

       
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>
                
                <% if (user.google.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.google.id %><br>
                        <strong>token</strong>: <%= user.google.token %><br>
                        <strong>email</strong>: <%= user.google.email %><br>
                        <strong>name</strong>: <%= user.google.name %>
                    </p>

                    <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                <% } else { %>
                    <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                <% } %>

            </div>
        </div>
    </div>
-->


</div>
</body>
</html>
